* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu {
    overflow: hidden;
    background-color: #7cd5ffb6;
    text-align: center;
}
.content {
    height: 500px;
    margin: 0 auto;
    overflow: hidden;
    background-color: #e6e7f467;
}
.column {
    float: left;
    width: 31%;
    margin:70px 1.15%;
    height: 350px;
    text-align: center;
    background-color: #ffffff;
}
.footer {
    overflow: hidden;
    height: 70px;
    background-color: #7cd5ffb6;
}
/*a:link:visited {color: black; text-decoration: none;}
a:hover { color: purple; text-decoration: underline;}
a:active { color: red; text-decoration: underline;}*/
