* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
    display: flex;
    flex-wrap: wrap;
}
.intestazione a:hover { color: #104F9F; text-decoration: none; }
a:link {color: #104F9F; text-decoration: none;}
a:visited {color:#104F9F; text-decoration: none;}
a:hover { color: #104F9F; text-decoration: underline;}
a:active { color: #104F9F; text-decoration: underline;}
.menu { 
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 50px;
    position: fixed;
    background-color: #c8cffc; /*#D6E9FE*/
    z-index: 1;
}
.logo {
    width: 105px;  /*35%*/
    margin: 0 auto;
}
.intestazione{
    margin: 0 auto;
    font-size: large;
}
img {
    width: 80%;
    border-radius: 10px;
    display: block;
}
.container {
    margin: 30px 0 70px 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; top:1%;
    flex-wrap: wrap;
}
/*.image-content {
    float:left;
    width: 100%;
    margin: 0 10% 2% 10%;
}
h2{
    float:left;
    display: flex;
    overflow: hidden;
    padding: 2% 30%;
    color: #104F9F;
}*/
.content {
    float: left;
    width: 100%; /*31%*/
    margin: 5px 1.15%; /*70px 1.15%;*/
    /*height: 350px;*/
    text-align: center;
    background-color: #2abdda52;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*.paragrafo{
    display: flex;
    justify-content: center;
    width: 90%;
    text-align:justify;
    padding: 5% 0 5% 8%;
    font-size: medium;
}
.buttom-home {
    border: 1px solid #7571be9f;
    background: #006eff79;
    border-radius: 5px; /*arrotondamento dei bordi
    padding: 20px;
    margin: 10px 19%;
    width: 60%;
    cursor: pointer;
    position: relative;
    z-index: 1;
}*/
.container-slide { /* Position the image container (needed to position the left and right arrows) */
    position: relative;
}
/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
.footer {
    overflow: hidden;
    height: 55px;
    background-color: #c8cffc;
    position: fixed; bottom: 0;
    padding:20px;
    width: 100%;
    z-index: 2;
}
h3 {
    color: #104F9F;
    position: fixed; bottom: 2.5%; left: 30px;
}
.social {
    position: fixed; bottom: 6px; left: 150px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media only screen and (max-width: 400px){ /*Mobile*/
    .content {
        flex-direction: column;
    }
}
@media only screen and (min-width:401px) and (max-width:960px) { /*Tablet*/
    body { 
        /*background-color: yellow;*/
        width: 50%;
    }
    .container { /*senza sfondo se no non visualizzo i pulsanti*/
        margin: 0 auto;
        position: absolute; top:17%;
        align-items: center;
    }
    .image-content {
        align-items:center;
        justify-content: center;
        display:flex;
    }
    .content{
        width: 80%;
        margin-bottom: 10%;
    }
    img {
        margin: 0 5%;
    }
    h3 {
        position: fixed; bottom: 2%; 
    }
}
@media only screen and (min-width:961px) and (max-width: 1400px) { /*Desktop*/
   /*body { background-color: green;}*/
    .logo {
        margin-left: 10px;
    }
    .intestazione {
        font-size: larger;
        margin-left: -65%; /*-750px;*/
    }
    .links { 
        display: flex;
        justify-content: flex-end;
        z-index: 2;
        position: fixed; top: 40px; right: 70px;
    }
    .links > li { 
        display: inline; margin-right: 50px;
    }
    .links > li:last-of-type { 
        margin-right: 0;
    }
    .features-menu {
        display: none;
        flex-direction: column;
        background: #b1c4ff;
        border-radius: 5px; 
        padding-top: 60px;
        position: absolute;
        top: -25px;
        left: -30px;
        z-index: 1;
    }
    .features-menu li{
        list-style: none;
        border-bottom: 1px solid #ffffffb7;
        padding: 0 20px 10px 20px; 
        margin: 5px;
    }
    .features-menu li:last-of-type{
        border-bottom: none;
    }
    .dropdown {
        position: relative;
    }
    .dropdown > span {
        z-index: 2;
        position: relative;
        cursor: pointer;
    }
    .dropdown:hover .features-menu {
        display: flex;
        flex-direction: column;
        background-color: #b1c4ff;
    }
    li {
        font-size: 18px;
    }
    .container { /*senza sfondo se no non visualizzo i pulsanti*/
        margin: 0 auto;
        position: absolute; top:17%;
        align-items: center;
    }
    .image-content {
        float:left;
        width: 100%;
        margin: 0 10%;
        align-items:center;
        justify-content: center;
        display:flex;
    }
    h2{
        float:left;
        display: flex;
        overflow: hidden;
        padding: 3% 30%;
        font-size:xx-large;
    }
    .content{
        width: 80%;
        margin-bottom: 8%;
    }
    .paragrafo{
        padding: 0 2% 2% 2%;
    }
    .buttom-home {
        margin: 15px 19%;
    }
    img {
        width: 70%;
    }
    .footer {
        height: 65px;
    }
    h3 {
        position: fixed; bottom: 2.5%; left: 3%;
    }
    .social {
        position: fixed; bottom: 2%; left: 14.5%;
    }
}
@media only screen and (min-width:1401px) { /*Desktop più grandi*/
    /*body { background-color: blu;}*/
    .menu {
        height: 150px;
    }
    .logo {
        width: 10%;
        margin-left: 10px;
    }
    .intestazione {
        font-size: x-large;
        margin-left: -65%; /*-750px;*/
    }
    .links { 
        display: flex;
        justify-content: flex-end;
        z-index: 2;
        position: fixed; top: 60px; right: 90px;
    }
    .links > li { 
        display: inline; margin-right: 50px;
    }
     .links > li:last-of-type { 
         margin-right: 0;
     }
     .features-menu {
         display: none;
         flex-direction: column;
         background: #b1c4ff;
         border-radius: 5px; 
         padding-top: 60px;
         position: absolute;
         top: -25px;
         left: -30px;
         z-index: 1;
     }
     .features-menu li{
         list-style: none;
         border-bottom: 1px solid #ffffffb7;
         padding: 0 20px 10px 20px; 
         margin: 5px;
     }
     .features-menu li:last-of-type{
         border-bottom: none;
     }
     .dropdown {
         position: relative;
     }
     .dropdown > span {
         z-index: 2;
         position: relative;
         cursor: pointer;
     }
     .dropdown:hover .features-menu {
         display: flex;
         flex-direction: column;
         background-color: #b1c4ff;
     }
     li {
         font-size: x-large;
     }
    .container { /*senza sfondo se no non visualizzo i pulsanti*/
        margin: 0 auto;
        position: absolute; top:17%;
        align-items: center;
    }
    .image-content {
        float:left;
        width: 100%;
        margin: 0 10%;
        align-items:center;
        justify-content: center;
        display:flex;
    }
    .content{
        width: 60%;
        margin-top: 1.5%;
        margin-bottom: 7%;
    }
    .paragrafo{
        padding: 0 5%;
    }
    .buttom-home {
    margin: 20px 19%;
    }
    img {
        width: 70%;
    }
    .footer {
        height: 85px;
    }
    h3 {
        position: fixed; bottom: 3.55%; left: 3%;
        font-size: x-large;
    }
    .social {
        position: fixed; bottom: 3.2%; left: 14.5%;
    } 
}